body {
     

 .scrolling-wrapper {
    
    margin-top: 200px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow: hidden;
    
   
    
    
   
    .card1 {
     
    border-radius: 50px;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      border: solid 5px white;
      
    }
    .card2 {
        background: red;
        border-radius: 50px;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      
    }
    .card3 {
        background: red;
        border-radius: 50px;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      
    }
    .card4 {
        background: red;
        border-radius: 50px;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      
    }
    .card5 {
        background: red;
        border-radius: 50px;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      
    }
    .card6 {
        background: red;
        border-radius: 50px;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      
    }
    .card7 {
        background: red;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      
    }
   
}
.weekday{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

button{
    border-radius: 10px;
    padding: 10px;
   

}
}
}