
body {
    background: rgb(43, 43, 43);
     .title h1{
        text-align: center;
        font-family: dancing script;
        margin-top: 100px;
        font-size: 3rem;
        color: white;

     }

 .scrolling-wrapper {
    
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow: hidden;
    
   
    
    
   
    .card1 {
        background:url(./asset/img/food.jpg) center;
        background-size: cover;
        background-repeat: no-repeat;
    border-radius: 15px;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      border: solid 5px white;
      
      
      h2{
        margin-top: 110px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;
      }
      p{
        margin-top: -20px;
        font-family: dancing script;
        color: rgba(255, 248, 248, 0.877);
      }
      h3{
        margin-top: -10px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;

      }

      
    }
    .card2 {
        background:url(./asset/img/food.jpg) center;
        background-size: cover;
        background-repeat: no-repeat;
     border-radius: 15px;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      border: solid 5px white;

      h2{
        margin-top: 110px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;
      }
      p{
        margin-top: -20px;
        font-family: dancing script;
        color: rgba(255, 248, 248, 0.877);
      }
      h3{
        margin-top: -10px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;

      }

      
    }
    .card3 {
        background:url(./asset/img/food.jpg) center;
        background-size: cover;
        background-repeat: no-repeat;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      border-radius: 15px;
      border: solid 5px white;
      h2{
        margin-top: 110px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;
      }
      p{
        margin-top: -20px;
        font-family: dancing script;
        color: rgba(255, 248, 248, 0.877);
      }
      h3{
        margin-top: -10px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;

      }

      
    }
    .card4 {
        background:url(./asset/img/food.jpg) center;
        background-size: cover;
        background-repeat: no-repeat;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      border: solid 5px white;
      border-radius: 15px;
      h2{
        margin-top: 110px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;
      }
      p{
        margin-top: -20px;
        font-family: dancing script;
        color: rgba(255, 248, 248, 0.877);
      }
      h3{
        margin-top: -10px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;

      }

      
    }
    .card5 {
        background:url(./asset/img/food.jpg) center;
        background-size: cover;
        background-repeat: no-repeat;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      border: solid 5px white;
      border-radius: 15px;
      h2{
        margin-top: 110px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;
      }
      p{
        margin-top: -20px;
        font-family: dancing script;
        color: rgba(255, 248, 248, 0.877);
      }
      h3{
        margin-top: -10px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;

      }

      
    }
    .card6 {
        background:url(./asset/img/food.jpg) center;
        background-size: cover;
        background-repeat: no-repeat;
      flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      border: solid 5px white;
      border-radius: 15px;
      h2{
        margin-top: 110px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;
      }
      p{
        margin-top: -20px;
        font-family: dancing script;
        color: rgba(255, 248, 248, 0.877);
      }
      h3{
        margin-top: -10px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;

      }

      
    }
    .card7 {
        background:url(./asset/img/food.jpg) center;
        background-size: cover;
        background-repeat: no-repeat;
        flex: 0 0 auto;
      padding: 40px;
      text-align: center;
      width: 80%;
      margin-right: 200px;
      height: 300px;
      border: solid 5px white;
      border-radius: 15px;
      h2{
        margin-top: 110px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;
      }
      p{
        margin-top: -20px;
        font-family: dancing script;
        color: rgba(255, 248, 248, 0.877);
      }
      h3{
        margin-top: -10px;
        font-size: 1.5rem;
        color: rgba(255, 248, 248, 0.877);
        font-family: dancing script;

      }

      
    }
   
}
.weekday{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

button{
    border-radius: 10px;
    padding: 10px;
   

}
}
}

.footer{
    margin-top: 50px;
    color: red;
    a{
        text-decoration: none;
        color: black;

    }

  
}
